
@import url(https://cdn.geode.host/fonts/metropolis/stylesheet.css);

body {
  display: grid;
  text-align: center;
  width: 400px;
  padding: 20px;
  background: radial-gradient(circle at center 35%, rgb(0, 106, 129) 0, rgb(2, 29, 75) 87%);
  font-family: Metropolis,Open Sans,sans-serif;
  color: #eeeeee;
}

label {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: bold;
  margin: 10px 10px 10px 0px;
  position: relative;
}

input, button {
  min-height: 20px;
  min-width: 20px;
  background-color: rgba(18, 23, 32, 0.5);
  transition-duration: 200ms;
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin: 0;
  position: relative;
  vertical-align: middle;
  bottom: 2px;
}

input[type=range], input[type=color] {
  padding: 0;
}

input:hover, button:hover {
  background-color: rgba(18, 23, 32, 0.6);
}

a {
  text-decoration: none;
  color: rgb(175, 203, 255);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.15em;
  height: 1.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  min-height: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 5px;
}